message:
  basenames: string/string

spring:
  main:
    allow-bean-definition-overriding: true

  datasource:
    # DB Config
#    driver-class-name: org.postgresql.Driver
    driver-class-name: ${APP_DB_DRIVER}
    url: ${APP_DB_URL}
    username: ${APP_DB_USER}
    password: ${APP_DB_PASSWORD}

    # hikari
    hikari:
      connection-timeout: 9000
      idle-timeout: 20000
      max-lifetime: 30000

  # JPA
  jpa:
    hibernate:
#      ddl-auto: create
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        use_sql_comments: true

chzzk:
  check-interval: ${CHZZK_CHECK_INTERVAL:30}
  api-url: ${CHZZK_API_URL:null}
  oauth:
    auth-base-url: ${CHZZK_OAUTH_AUTH_BASE_URL:https://chzzk.naver.com}
    token-base-url: ${CHZZK_OAUTH_TOKEN_BASE_URL:https://openapi.chzzk.naver.com}
    api-base-url: ${CHZZK_OAUTH_API_BASE_URL:https://openapi.chzzk.naver.com}
    client-id: ${CHZZK_OAUTH_CLIENT_ID:}
    client-secret: ${CHZZK_OAUTH_CLIENT_SECRET:}
    redirect-uri: ${CHZZK_OAUTH_REDIRECT_URI:}

app:
  default-timezone: ${APP_DEFAULT_TIMEZONE:Asia/Seoul}
  insert-password: ${APP_INSERT_PASSWORD:null}
  is-test: ${APP_IS_TEST:false}
